name: CI/CD Piplien

on:
  push:
    branches: [ "main" ]

jobs:
  merge:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Git
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

      - name: Merge second into main
        run: |
          git fetch origin
          git checkout main
          git merge origin/feature --no-edit --allow-unrelated-histories
          git push origin main
